.albuns_section {
    max-width: 64rem;
    margin: 1.5625rem auto;
    padding: 1.625rem .625rem;
    background-color: var(--gray-8);
    max-width: 44rem;    
  }
  .albuns-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
}


