.cardModal_Container {
  width: 100vw;
  height: 100vh;
  z-index: 3;

  background-color: rgba(54, 53, 53, 0.448);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardModal {
  border: none;
  margin-inline: 1rem;

  max-width: 70vw;
  min-width: 50vh; //nao mudar o tamalho min. fazer mobile first !!
  border-radius: 8px;
  background-color: var(--gray-8);
  .modal_header {
    border-radius: 8px 8px 0 0;
    padding: 1rem;
    margin-bottom: 5;
    height: 50px;
    background-color: var(--brand-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: var(--gray-1);
    }
    button {
      border: none;
      background-color: transparent;
      width: 25px;
      height: 15px;
      color: var(--gray-1);
    }
  }
  .modal_main {
    height: 40vh;
    padding-top:60px ;
    overflow-y: auto;
    display: flex;
    justify-content: center;


    .containerModal {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      margin: 2rem;
    }
    h1 {
      font-size: 1.5rem;
      text-align: center;
      font-weight: bolder;
      color: var(--gray-1);
    }
  }
  .modal_footer {
    border-top: 2px solid var(--gray-6);
    height: 105px;
    margin: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      height: 50%;
      border-radius: 8px;
      border: none;
      color: var(--gray-1);
      background-color: var(--brand-1);
      font-weight: bold;
      font-size: 1.125rem;
    }

    button:hover {
      background-color: var(--brand-2);
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
